.Post1{
    background-color: #34495E;
    border-radius: 20px; 
    padding: 21px;
    color: aliceblue;
    margin-bottom: 50px;
}
.Post2{
    background-color: #34495E;
    border-radius: 20px; 
    padding: 21px;
    color: aliceblue;
    margin-bottom: 50px;
}
.Post3{  background-color: #34495E;
    border-radius: 20px; 
    padding: 21px;
    color: aliceblue;
    margin-bottom: 50px;
}
h1{
    text-align: center;
    font-size: 48px;
    color: #34495E;
}
body{background-color: azure;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 21px;
    margin-left: 20px;
}